SECRET_KEY=django-insecure-b9a528xuqn6s&(6i6$8==^6+9ry+g3wv=sn(*rb2he9#(mq4go
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,at.localhost,www.at.localhost,fr.localhost,www.fr.localhost,bmass.at,www.bmass.at,bmass.fr,www.bmass.fr
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://0.0.0.0:8000,http://at.localhost:8000,http://www.at.localhost:8000,http://fr.localhost:8000,http://www.fr.localhost:8000,https://bmass.at,https://www.bmass.at,https://bmass.fr,https://www.bmass.fr
SERVE_MEDIA_FILES=True

DB_NAME=furniture_db
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db
DB_PORT=5432

USE_SQLITE=True
DB_ENGINE=django.db.backends.sqlite3

GOOGLE_MAPS_API_KEY=AIzaSyCV338EzjXB46qlz9tV5qCipoeTVvIqo4I
